<h4 style="padding-top: 5px">Connection(s) List</h4>
<div>
	<table>
		<tr>
			<th><label>Search</label></th>
			<th>:</th>
			<th><input type="text" data-ng-model="connectionName"></input></th>
			<th style="float:right;margin-left:100px" data-ng-if="userRole == 'admin'"><button class="btn btn-primary" data-ng-click="editConnection(event,'html/connection_dialog.html',connection)">Create Data Source</button></th>
		</tr>
	</table>
	<br>
</div>
<br>
<div class="topdiv_adminpages">
	<table class="displayTable table table-stripped" id="admintable">
		<tr>
			<th class="widecolmaxwidth tinycol" data-ng-if="userRole == 'admin'">Delete</th>
			<th class="widecolmaxwidth tinycol" data-ng-if="userRole == 'admin'">Edit</th>
			<th class="widecolmaxwidth">Alias</th>
			<th class="widecolmaxwidth">Username</th>
			<th class="widecolmaxwidth">Driver</th>
			<th class="widecolmaxwidth">URL</th>
			<th class="widecolmaxwidth">Test Connection</th>
		</tr>
		<tr data-ng-repeat="connection in connections | filter:connectionName">
			<td style="" data-ng-if="userRole == 'admin'">
				<a data-ng-click="removeConnection(connection)">
					<span class="glyphicon glyphicon-remove" style="color:red !important"></span>
				</a>
			</td>
			<td style="text-align: center;" data-ng-if="userRole == 'admin'">
				<a data-ng-click="editConnection(event,'html/connection_dialog.html',connection)">
					<span class="glyphicon glyphicon-edit"></span>
				</a>
			</td>
			<td class="widecolmaxwidth">{{connection.alias}}</td>
			<td class="widecolmaxwidth">{{connection.username}}</td>
			<td class="widecolmaxwidth">{{connection.driver}}</td>
			<td class="widecolmaxwidth">{{connection.url}}</td>
			<td style="text-align: center;" data-ng-if="userRole == 'admin'">
				<button class="btn btn-primary" data-ng-click="testConnection(connection)">Test Connection</button>
			</td>
		</tr>
	</table>
</div>
