<h4 style="padding-top: 5px">Connection(s) List</h4>
<div>
	<table>
		<tr>
			<th><label>Search</label></th>
			<th>:</th>
			<th><input type="text" data-ng-model="connectionName"></input></th>
			<th style="float:right;margin-left:100px" data-ng-if="userRole == 'admin'"><button class="btn btn-primary" data-ng-click="editConnection(event,'html/connection_dialog.html',connection)">Create Data Source</button></th>
		</tr>
	</table>
	<br>
</div>
<br>
<div class="topdiv_adminpages">
	<table class="displayTable" id="admintable">
		<tr>
			<th class="widecolmaxwidth">Alias</th>
			<th class="widecolmaxwidth">Username</th>
			<th class="widecolmaxwidth">Driver</th>
			<th class="widecolmaxwidth">URL</th>
			<th class="widecolmaxwidth">Default</th>
		</tr>
		<tr data-ng-repeat="connection in connections | filter:connectionName"
			data-ng-click="editConnection(event,'html/connection_dialog.html',connection)">
			<td class="widecolmaxwidth">{{connection.alias}}</td>
			<td class="widecolmaxwidth">{{connection.username}}</td>
			<td class="widecolmaxwidth">{{connection.driver}}</td>
			<td class="widecolmaxwidth">{{connection.url}}</td>
			<td class="widecolmaxwidth">{{connection.isDefault}}</td>
		</tr>
	</table>
</div>
