<md-dialog style="width:800px;height:600px;border:1px solid #333;border-radius:15px;padding:20px">
 <md-content>
 	<div style="background-color:white;color:black;border-bottom: 4px solid #333;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12); padding: 5px;margin-bottom:15px"><h3>Add/Edit Driver</h3></div>
	<div style="background-color:white;color:black;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12)" class="form-group" data-ng-form data-name="driverForm">
		<div class="holderdiv">
			<div class="titlediv">
				Driver Alias
			</div>
			<div class="inputdiv"  data-ng-if="isAddDriver">
				<input name="alias" style="width:95%;vertical-align: bottom;border:0px;border-bottom: 1px solid black" placeholder="Driver Alias" data-ng-model="modifiedDriver.alias" required></input>
				<p ng-show="driverForm.alias.$invalid && !driverForm.alias.$pristine" class="help-block">Driver alias is required.</p>
			</div>
			<div class="inputdiv"  data-ng-if="!isAddDriver">
				<input name="alias" style="width:95%;vertical-align: bottom;border:0px;border-bottom: 1px solid black" placeholder="Driver Alias" data-ng-model="modifiedDriver.alias" disabled="disabled"></input>
			</div>
		</div>
		<div class="holderdiv">
			<div class="titlediv">
				Class Name
			</div>
			<div class="inputdiv">
				<input name="className" style="width:95%;vertical-align: bottom;border:0px;border-bottom: 1px solid black" placeholder="JDBC Driver Class Name" data-ng-model="modifiedDriver.className"  required></input>
				<p ng-show="driverForm.className.$invalid && !driverForm.className.$pristine" class="help-block">JDBC Driver Class Name is required.</p>
			</div>
		</div>
		<div  class="holderdiv">
			<div class="titlediv">
				Jar File
			</div>
			<div class="inputdiv">
				<input name="jarFile" data-ng-if="modifiedDriver.className" data-ng-model="modifiedDriver.jarFile" readonly></input>
				<input name="jarFile" data-ng-if="jarFile && !modifiedDriver.className"  placeholder="Select Jar file" data-ng-model="jarFile.name" readonly></input>
			</div>
		</div>		
		<div  class="holderdiv">
			<div class="titlediv">
				Upload Jar File
			</div>
			<div class="inputdiv">
				<input name="jarFile" data-ng-model="modifiedDriver.jarFile" file-model="jarFile" type="file" accept="*"></input>
			</div>
		</div>			
	</div>
	<md-dialog-actions layout="row">
		<button class="btn btn-primary" ng-disabled="driverForm.$invalid" style="border:1px solid #333;margin-left:10px" ng-click="addDriver()">Save Driver</button>
	</md-dialog-actions>
	<br>
	</md-content>
</md-dialog>