<md-dialog style="width:600px;height:600px">
 <md-toolbar>
   <div class="md-toolbar-tools" style="background-color:#333"><h3>Edit Report Title/Description</h3></div>
 </md-toolbar>
   <md-content>{{data.url}}</md-content>
   <div style="height:400px;width:600px;padding-left:50px">
		<h3>Edit Title</h3>
		<textarea style="height:50px;width:400px;" data-ng-model="modRep.title" type="text"></textarea>
		
		<h3>Edit Description</h3>
		<textarea style="height:200px;width:400px;" data-ng-model="modRep.description" type="text"></textarea>
	</div>
    <md-dialog-actions layout="row">
		<md-button ng-click="saveEdit()" type="submit">Save</md-button>
    </md-dialog-actions>
</md-dialog>