<style>
table,td{
	table-layout : fixed;
	width: 100%;
	hight:100%;
}
.innertable_withborder table,td,tr{
	border-collapse: collapse;
	border: 1px solid #333;
	padding:10px;
}
</style>
<div id="reportdiv" data-ng-repeat="report in reports" style="display:table;padding:10px;background-color:white;">
	<div style="float: right; position: relative" class="dropdown">
		<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
			Export <span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
			<li><a data-ng-click="export('PDF')">PDF</a></li>
			<li><a data-ng-click="export('CSV')">CSV</a></li>
		</ul>
	</div>

	<h1>{{report.title}}</h1>
	<h3>{{report.title}}</h3>
	<br>
	<table id="mytable">
		<tr data-ng-repeat="rows in report.rows" class="outerrow" id="row_{{$index}}">
			<td>
				<table id="innertable_{{$index}}" class="innertable_withborder">
					<tr class="cellrow">
						<td data-ng-repeat="element in rows.elements" class="cellcolumn">
							<div data-ng-init="loadElement($parent.$index,$index,report.aurthor,report.title,element.title,element.chartType)" id="{{report.title}}_{{$parent.$index}}_{{$index}}_cell">
							</div>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</div>
