<div class="topdiv_adminpages">
	<div style="padding:2px;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12)">
	<h4 style="padding: 5px">User(s) List</h4>
		<table>
			<tr>
				<th><label>Search</label></th>
				<th>:</th>
				<th><input type="text" data-ng-model="searchUserName"></input></th>
				<th style="float:right;margin-left:100px" data-ng-if="userRole == 'admin'"><button class="btn btn-primary" data-ng-click="editUser(event,'html/user_dialog.html',user,true)">Create User</button></th>
			</tr>
		</table>
		<br>
	</div>
	<br>
	<table class="displayTable" id="admintable">
		<tr>
			<th class="widecolmaxwidth tinycol" data-ng-if="userRole == 'admin'">Delete</th>
			<th class="widecolmaxwidth tinycol" data-ng-if="userRole == 'admin'">Edit</th>
			<th class="widecolmaxwidth">Display Name</th>
			<th class="widecolmaxwidth">Username</th>
			<th class="widecolmaxwidth">Role</th>
			<th class="widecolmaxwidth">Session Timeout ( Seconds )</th>
		</tr>
		<tr data-ng-repeat="user in users | filter:searchUserName">
			<td style="" data-ng-if="userRole == 'admin'">
				<a data-ng-click="removeUser(user)">
					<span class="glyphicon glyphicon-remove" style="color:red !important"></span>
				</a>
			</td>
			<td style="text-align: center;" data-ng-if="userRole == 'admin'">
				<a data-ng-click="editUser(event,'html/user_dialog.html',user,false)">
					<span class="glyphicon glyphicon-edit"></span>
				</a>
			</td>
			<td class="widecolmaxwidth colpadding">{{user.displayName}}</td>
			<td class="widecolmaxwidth colpadding">{{user.username}}</td>
			<td class="widecolmaxwidth colpadding">{{user.role}}</td>
			<td class="widecolmaxwidth colpadding">{{user.sessionTimeout}}</td>
		</tr>
	</table>
</div>
