<md-dialog style="width:800px;height:800px;border:1px solid #333;border-radius:15px;padding:20px">
 <md-toolbar>
   <div class="md-toolbar-tools" style="background-color:#333"><h3>Add/Edit User</h3></div>
 </md-toolbar>
	 <md-content>
		<div style="border:1px solid #333;padding-top:10px" class="form-group" data-ng-form data-name="userForm">
			<div class="holderdiv">
				<div class="titlediv">
					Display Name
				</div>
				<div class="inputdiv">
					<input name="displayName" style="width:95%;vertical-align: bottom;border:0px;border-bottom: 1px solid black" placeholder="Display name" data-ng-model="modifiedUser.displayName" required></input>
					<p ng-show="userForm.displayName.$invalid && !userForm.displayName.$pristine" class="help-block">Display name is required.</p>
				</div>
			</div>
			<div class="holderdiv">
				<div class="titlediv">
					User Name
				</div>
				<div class="inputdiv">
					<input name="userName" style="width:95%;vertical-align: bottom;border:0px;border-bottom: 1px solid black" placeholder="User name" data-ng-model="modifiedUser.username" required></input>
					<p ng-show="userForm.userName.$invalid && !userForm.userName.$pristine" class="help-block">User name is required.</p>
				</div>
			</div>
			<div  class="holderdiv">
				<div class="titlediv">
					Password
				</div>
				<div class="inputdiv">
					<input name="newpassword" type="password" style="width:95%;vertical-align: bottom;border:0px;border-bottom: 1px solid black" placeholder="Password" data-ng-model="modifiedUser.newpassword"></input>
				</div>
			</div>			
			<div  class="holderdiv">
				<div class="titlediv">
					Confirm Password
				</div>
				<div class="inputdiv">
					<input name="confirmpassword" type="password" style="width:95%;vertical-align: bottom;border:0px;border-bottom: 1px solid black" placeholder="Confirm Password" data-ng-model="modifiedUser.confirmpassword" compared-to="{{userForm.newpassword}}"></input>
					<p data-ng-if="(userForm.newpassword.$modelValue!=userForm.confirmpassword.$modelValue)" class="help-block">Passowrd and confirm password don't match.</p>
				</div>
			</div>			
			<div class="holderdiv">
				<div class="titlediv">
					Role
				</div>
				<div class="inputdiv">
					<select name="role" style="padding:6px;margin:5px;" data-ng-model="modifiedUser.role" required>
						<option value="admin">Administrator</option>
						<option value="view">Viewer</option>
						<option value="guest">Guest</option>
					</select>
					<p ng-show="userForm.role.$invalid && !userForm.role.$pristine" class="help-block">Role is required.</p>
				</div>				
			</div>
		</div>
		<md-dialog-actions layout="row">
			<button class="btn btn-primary" ng-disabled="userForm.$invalid || ((userForm.newpassword.$modelValue!=userForm.confirmpassword.$modelValue) && !(userForm.newpassword.$pristine))" style="border:1px solid #333;margin-left:10px" ng-click="addUser()">Save User</button>
		</md-dialog-actions>
		<br>
		<div id="testdata" style="overflow:auto">
		</div>	
	 </md-content>
</md-dialog>