<?xml version="1.0" encoding="UTF-8"?>
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="target" value="System.out"/>
		<param name="immediateFlush" value="false"/>
		<param name="encoding" value="UTF-8"/>
		<param name="threshold" value="warn"/>
		<layout class="org.apache.log4j.PatternLayout">
		    <param name="conversionPattern" value="%d %-5p %tid %c.%M - %m%n"/>
		</layout>
	</appender>
	
	<appender name="file" class="org.apache.log4j.FileAppender">
		<param name="file" value="${catalina.base}/logs/q2r.log"/>
		<param name="immediateFlush" value="true"/>
		<param name="threshold" value="debug"/>
		<param name="append" value="true"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="conversionPattern" value="%d %-5p %tid %c.%M - %m%n"/>
		</layout>
	</appender>	

	<logger name="com.lwr.software.reporter" additivity="false">
		<level value="INFO" />
		<appender-ref ref="console" />
		<appender-ref ref="file" />
	</logger>
</log4j:configuration>