body.lwr_main_body{
	border: 1px solid #FFFFFF;
	font-family:Arial,Verdana,sans-serif;
	font-weight:normal;
	font-size:0.85em;
	background-image: url("/images/wall.jpg");
	background-size:100%;
}

table.login_table{
	padding:20px;
	color: #ffffff;
	border: 1px solid black;
	table-layout : fixed;
	border-collapse: separate;
}

.nav>li>a:hover, .nav>li>a:focus{
	background-color: eee !important;
	color: blue;
}

.nav>li>a{
	color: #f1f1f1;
}

.nav>.submenu.li>a{
	color: black;
}

div.topdiv_adminpages{
	height:30vh !important;	
	overflow: auto;
}

div.bottomdiv_adminpages{
	height:40vh !important;
	overflow: auto;
}

table.displayTable{
	border-collapse: collapse;
	border: 1px solid black;
	width:100%;
}
table.displayTable>tbody>tr,table.displayTable>tbody>tr>td,table.displayTable>tbody>tr>th{
	border-collapse: collapse;
	border: 1px solid black;
	overflow: auto;
}

table.displayTable>tbody>tr>th{
	background-color: #5f5f5f;
	font-weight:normal !important;
	color: #f1f1f1;
}

.submenu{
	
}
/**** Used in createedit when you click on edit option on new report ****/
.innertable_withborder{
	table-layout : fixed;
	width: 100%;
	hight:100%;
}
.innertable_withborder td{
	vertical-align: top;
	border-radius: 5px;
}

.navbar-brand{
	padding:0px;
}