<web-app>
   <display-name>q2r</display-name>
   <welcome-file-list>
     <welcome-file>index.html</welcome-file>
     <welcome-file>index.htm</welcome-file>
     <welcome-file>index.jsp</welcome-file>
     <welcome-file>default.html</welcome-file>
     <welcome-file>default.htm</welcome-file>
     <welcome-file>default.jsp</welcome-file>
   </welcome-file-list>
   <servlet>
     <servlet-name>LWR_REST</servlet-name>
     <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
     <init-param>
       <param-name>com.sun.jersey.config.property.packages</param-name>
       <param-value>com.lwr.software.reporter.restservices</param-value>
     </init-param>
     <load-on-startup>1</load-on-startup>
   </servlet>
   <servlet-mapping>
     <servlet-name>LWR_REST</servlet-name>
     <url-pattern>/rest/*</url-pattern>
   </servlet-mapping>
   <servlet>
     <servlet-name>Logout</servlet-name>
     <jsp-file>/JSP/logout.jsp</jsp-file>
   </servlet>
   <servlet-mapping>
     <servlet-name>Logout</servlet-name>
     <url-pattern>/logout</url-pattern>
   </servlet-mapping>
   
   <servlet>
     <servlet-name>Login</servlet-name>
     <jsp-file>/JSP/login.jsp</jsp-file>
   </servlet>
   <servlet-mapping>
     <servlet-name>Login</servlet-name>
     <url-pattern>/login</url-pattern>
   </servlet-mapping>
   <servlet>
     <servlet-name>DoLogin</servlet-name>
     <servlet-class>com.lwr.software.reporter.servlet.LoginServlet</servlet-class>
   </servlet>
   <servlet-mapping>
     <servlet-name>DoLogin</servlet-name>
     <url-pattern>/doLogin</url-pattern>
   </servlet-mapping>
   <filter>
     <filter-name>AuthenticationFilter</filter-name>
     <filter-class>com.lwr.software.reporter.security.AuthenticationFilter</filter-class>
   </filter>
   <filter-mapping>
     <filter-name>AuthenticationFilter</filter-name>
     <url-pattern>/*</url-pattern>
   </filter-mapping>   
   <security-constraint>
     <display-name>Restrict direct access to certain folders</display-name>
     <web-resource-collection>
       <web-resource-name>Restricted folders</web-resource-name>
       <url-pattern>/JSP/*</url-pattern>
     </web-resource-collection>
     <auth-constraint/>
   </security-constraint>
	<init-param>  
	    <param-name>jersey.config.server.provider.classnames</param-name>  
	    <param-value>
	    	org.glassfish.jersey.filter.LoggingFilter;  
			org.glassfish.jersey.media.multipart.MultiPartFeature
		</param-value>  
	</init-param>     
</web-app>
